@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    padding: 10px 75px 0;
}
main{position: relative;}
header{
    flex-direction: row;
}
header , section{
    justify-content: space-between;
}
header , section , .atas , .bawah , .data , footer{display: flex;}
header h2{
    padding-left: 15px;
    font-size: 2.3rem;
}
li{
    display: inline-block;
    font-size: 18px;
    padding: 15px 0;
}
li a{
    text-decoration: none;
    color: #000;
    padding: 10px 25px;
    transition: all .3s;
    border-radius: 35px;
}
li a:hover{
    color: #fff;
    background-color: #00C5EB;
}
.gambar{
    width: 450px;
    height: 350px;
    background-image: url(bahan.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}
section{
    margin-top: 50px;
    align-items: center;
}
aside{
    width: 60%;
}
.atas , .bawah , .data{
    flex-direction: column;
}
.atas{
    align-items: flex-start;
    width: 50%;
    font-size: 18px;
}
.atas p{padding: 5px 0 15px;}
.atas h3{
    font-size: 42px;
    font-weight: 700;
}
.atas button{
    font-size: 22px;
    border-radius: 10px;
    padding: 10px 20px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #00C5EB;
}
.bawah{
    background-color: red;
    position: relative;
    width: 40%;
    position: absolute;
    right: 0;
    align-items: flex-end;
}
.data{
    margin-top: 10px;
}
progress{
    width: 300px;
}
footer{
    margin: 25px 0;
}
.tabung{
    width: 200px;
    border-radius: 10px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 0 3px 6px 1px #b1b1b1b9;
}
.tabung img{
    width: 100px;
}
.tabung:nth-child(3) , .tabung:nth-child(2){
    margin: 0 20px;
}
#judul{
    font-size: 22px;
}
#check{
    font-size: 18px;
    margin-top: -12px;
    font-weight: 500;
    color: #0A74FF;
}