.iklans{
    width: 90%;
    align-self: center;
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main{
    min-height: 40vh;
}
.papan{
    width: 25%;
    position: relative;
    display: flex;
    height: 200px;
    padding: 3px 15px;
    background-image: linear-gradient(140deg,rgba(255, 255, 255, 0.568),rgba(255, 255, 255, 0.3));
    border-radius: 10px;
}
.lingkaran{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    filter: blur(5px);
    opacity: .8;
    z-index: 0;
    border-radius: 100%;
}
.first{background: linear-gradient(140deg,#FF0000,#E700DD);}
.sec{background: linear-gradient(140deg,#0029FF,#C600E7);}
.thre{background: linear-gradient(140deg,#FFD600,#E700C2);}
.kalimat h2{
    font-size: 28px;
    position: relative;
    margin-top: 10px;
    font-weight: normal;height:30%;
}
.kalimat{
    z-index: 3;
}
.kalimat h2 , .kalimat p{z-index: 2;text-align: center;}
.kalimat p{font-size: 19px;}
@media screen and (max-width:980px){
    .iklans{
        margin-bottom: 100px;
        flex-wrap: wrap;
    }
    .papan{
        width: 45%;
    }
    .iklans:nth-child(3){
        justify-content: space-evenly;
    }
    .papan:nth-child(3){
        margin-top: 20px;
    }
}
@media screen and (max-width:676px){
    .iklans{
        flex-direction: column;
    }
    .papan:nth-child(1){margin-top: 0;}
    .papan{
        width: 100%;
        margin-top: 20px;
    }
}