@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
span{
    color: white;
}
main{
    max-width: 100vw ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(116.82deg, rgba(133, 33, 232, 0.801) 0.49%, rgba(255, 56, 92, 0.72) 100%, rgba(255, 56, 92, 0.72) 100%);
}
.pop , .link{border-radius: 10px;}
.pop{
    width:60%;
    filter: blur(20);
    filter: drop-shadow(0px 4px 4px rgba(238, 25, 227, 0.5));
    padding: 20px;
    background: linear-gradient(120.53deg, rgba(255, 255, 255, 0.4) 0.65%, rgba(255, 255, 255, 0.207) 100.75%);
}
.user{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.user img{
    max-width: 100px;
    max-height: 100px;
}
.user #id{
    font-size: 32px;
}
.desc{
    text-align: center;
    font-size: 18px;
    line-height: 22px;
}

.list{
    margin-top: 10px;
    height: 200px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link{
    width: 40%;
    background: rgba(255, 255, 255, 0.55);
    text-align: center;
    cursor: pointer;
    padding: 10px 0;
}
.link a{
    color: #D031EA;
    font-size: 18px;
    text-decoration: none;
    transition: .3s;
}
.link:hover a{
    color: #ff0080;
}

@media screen and (max-width : 1300px){
    .link{
        width: 50%;
    }
}
@media screen and (max-width : 750px){
    .pop , .link{border-radius: 5px;}
    .user #id{
        font-size: 24px;
    }.desc{
        font-size: 14px;
        line-height: normal;
    }
    .link{
        width: 60%;
        padding: 10px 0;
    }
    .link a{
        font-size: 16px;
    }
}
@media screen and (max-width : 480px){
    .user #id{
        font-size: 22px;
        margin-top: 5px;
    }.desc{
        font-size: 14px;
        line-height: normal;
    }
    .desc{
        margin-top: 10px;
    }
    .link{
        width: 80%;
        font-size: 14px;
        padding: 10px 0;
    }
    .link a{
        font-size: 16px;
    }
}
@media screen and (max-width : 280px){
    main{
        background-color: red;
    }
    .link a{
        font-size: 12px;
    }
}